In [1]:
name: str = "Muhammad Kamran"

print(name)

Muhammad Kamran

# String
These days most of the data work  are in String in langchain.
String boundries:
"Str", 'str', '''str''', """str""",
\n for line break
\' or \" if need to use special characters between strings

In [6]:
name: str = "Muhammad Kamran"
message: str = "PIAIC student card fater's name"
print(message)

PIAIC student card fater's name

In [7]:
# message = 'PIAIC student card fater's name' # error
# solution
message = 'PIAIC student card\nfater\'s name'
print(message)

PIAIC student card
fater's name

In [8]:
# another example
name: str = "Muhammad Kamran"
fname: str = "Shamas ud Din"
education: str = "Graduate"
age: int = 45
card: str = "PIAIC Student Card\nName:" + name 
# card: str = "PIAIC Student Card\nName:" + name + "\nage:" + age  #error
# As one veriable is string other is int.
# We can fix this if both of veriable have same type int or str.

print(card)

PIAIC Student Card
Name:Muhammad Kamran

In [10]:
# How to fix error
name: str = "Muhammad Kamran"
fname: str = "Shamas ud Din"
education: str = "Graduate"
age: int = 45
card: str = "PIAIC Student Card\nName:" + name 
card: str = "PIAIC Student Card\nName:" + name + "\nage:" + str(age) 
# We had fix this as both of veriable have same type str, by str() function.

print(card)

PIAIC Student Card
Name:Muhammad Kamran
age:45

In [13]:
# example of next line start
# \ back slash means we can continue code from next line
print(7+2+3)
print(7+\
      2+\
      3)

12
12

In [3]:
# Fstring: To define multiline script output we can use triple quotes f"""string"""
name: str = "Muhammad Kamran"
fname: str = "Shamas ud Din"
education: str = "Graduate"
age: int = 45

card: str = f"""PIAIC Student Card
Name: {name} 
Father's name: {fname}
Age: {age}
Education: {education}

total {4+2+3}
""" 


print(card)

PIAIC Student Card
Name: Muhammad Kamran
Father's name: Shamas ud Din
Age: 45
Education: Graduate

total 9

In [ ]:
# F-string and Jinja style template

#f-string
f"""
Student name {name}
"""
#ginga style template
"""
Student name {{name}}
"""

In [4]:
name: str = "Muhammad Kamran"
fname: str = "Shamas ud Din"
education: str = "Graduate"
age: int = 45

card: str = f"""PIAIC Student Card
Name:  %s
Father's name: %s
Age: %d
Education: %s


""" % (name, fname, age, education) 


print(card)

PIAIC Student Card
Name:  Muhammad Kamran
Father's name: Shamas ud Din
Age: 45
Education: Graduate

## Recumended f-string

String

In [ ]:
name: str = "Muhammad Kamran"
fname: str = "Shamas ud Din"
education: str = "Graduate"
age: int = 45

card: str = f"""PIAIC Student Card
Name:  %s
Father's name: %s
Age: %d
Education: %s


""" % (name, fname, age, education) 


print(card)

In [5]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [9]:
name: str = "MuHammd KaMran"
print(name.capitalize())
print(name.lower())
print(name.upper())

Muhammd kamran
muhammd kamran
MUHAMMD KAMRAN

it is also fstring using .format(a,b)

In [10]:
a=7
b=8
# place holder is {}
"Pakistan value a = {} and value b = {}".format(a,b)

'Pakistan value a = 7 and value b = 8'

In [12]:
name: str = "Muhammad Kamran"
fname: str = "Shamas ud Din"
education: str = "Graduate"
age: int = 45

card: str = """PIAIC Student Card
Name:  {}
Father's name: {}
Age: {}
Education: {}


""" .format(name, fname, age, education)


print(card)

PIAIC Student Card
Name:  Muhammad Kamran
Father's name: Shamas ud Din
Age: 45
Education: Graduate

In [13]:
# adding data by index number
name: str = "Muhammad Kamran"
fname: str = "Shamas ud Din"
education: str = "Graduate"
age: int = 45

card: str = """PIAIC Student Card
Name:  {1}
Father's name: {0}
Age: {3}
Education: {2}


""" .format(fname, name, education, age)


print(card)

PIAIC Student Card
Name:  Muhammad Kamran
Father's name: Shamas ud Din
Age: 45
Education: Graduate

In [14]:
# adding data by index number
name: str = "Muhammad Kamran"
fname: str = "Shamas ud Din"
education: str = "Graduate"
age: int = 45

card: str = """PIAIC Student Card
Name:  {a}
Father's name: {b}
Age: {c}
Education: {d}


""" .format(a=name, b=name, d=education, c=age)



print(card)

PIAIC Student Card
Name:  Muhammad Kamran
Father's name: Muhammad Kamran
Age: 45
Education: Graduate

we can check results by string comparison

In [15]:
student_code: str = """
print("my Name is Muhammad Kamran")
a:int = 7
b: int = 8
print(a+b)

"""

exec(student_code)

my Name is Muhammad Kamran
15

## explore sring methods and attributes